<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Slider</title>
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.4/angular-material.css">
    <link rel="stylesheet" href="../material/src/components/slider/slider.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-animate.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-aria.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-messages.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.4/angular-material.js"></script>
    <script src="../material/src/components/slider/slider.js"></script>
    <script>
        (function(){
            angular
                .module('app', ['ngMaterial'])
            ;

            angular
                .module('app')
                .controller('SliderController', SliderController);

            SliderController.$inject = [];

            function SliderController() {
                var vm = this;
                vm.sliderModel = 0;
                vm.sliderSteps = [0,25,50,75,100,125,150,175,200,500];
                vm.objectSliderModel = 0;
                vm.objectSliderSteps = [
                    {name:'None', value:0},
                    {name:'Annual', value:1},
                    {name:'20 year', value:20},
                    {name:'100 year', value:100}
                ];
            }

        })();
    </script>
</head>
<body ng-app="app">
    <main ng-controller="SliderController as vm">
        <div style="padding: 2em;">
            <pb-md-slider ng-model="vm.sliderModel"
                          md-discrete
                          md-vertical
                          steps="vm.sliderSteps"
                          steps-equal></pb-md-slider>
        </div>
        <div style="padding: 2em;">
            <pb-md-slider ng-model="vm.objectSliderModel"
                          md-discrete
                          md-vertical
                          steps="vm.objectSliderSteps"
                          steps-equal></pb-md-slider>
        </div>
    </main>
</body>
</html>